# Node modules
node_modules/

# Build and distribution directories
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
bower_components/

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/editor configurations
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Electron specific
electron-builder.yml
*.asar
